* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  height: 100vh;

  display: grid;

  grid-template-areas:
    "header header"
    "sidebar main"
    "informations main";
  grid-template-rows: 4rem 1fr 13rem;
  grid-template-columns: 15% 85%;

  font-family: "Ubuntu", serif;
}

header {
  grid-area: header;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);

  z-index: 2;

  div {
    height: 60%;
  }

  .lone_icon {
    font-size: 1.8rem;

    color: lightgray;

    cursor: pointer;

    &:hover {
      color: #bebebe;
    }
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;

    color: orange;

    font-size: 2rem;
    font-family: "Ubuntu Bold";

    .logo {
      margin-right: 0.5rem;

      cursor: pointer;
    }

    span {
      user-select: none;

      cursor: pointer;
    }
  }

  .search {
    width: 27%;

    display: flex;
    align-items: center;
    justify-content: center;

    .input_wrapper {
      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      margin-right: 0.5rem;

      .input {
        height: 100%;

        flex-grow: 17;

        padding-left: 0.2rem;

        border: 2px solid lightgrey;
        border-radius: 6px 0 0 6px;

        &:focus {
          outline: none;

          border: 2px solid orange;
        }
      }

      .search_icon {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-grow: 1;

        color: #202020;

        border: 2px solid lightgray;
        border-left: none;
        border-radius: 0 4px 4px 0;

        background-color: #e8e8e8;

        cursor: pointer;

        &:hover {
          background-color: #bebebe;
        }
      }
    }
  }

  .right {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    .paw {
      height: 2.4rem;
      width: 2.4rem;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-left: 0.7rem;

      border-radius: 50%;

      background-color: orange;

      cursor: pointer;

      &:hover {
        background-color: #e8e8e8;
      }
    }

    .menu {
      visibility: hidden;

      height: fit-content;

      display: flex;
      flex-direction: column;

      background-color: white;

      color: #101010;

      border: 2px solid lightgray;
      border-radius: 6px;

      position: absolute;
      top: 100%;
      right: 0%;

      font-family: "Ubuntu";

      z-index: 1;

      .menu_item {
        height: 3rem;

        display: flex;

        padding: 1rem 2rem 1rem 1rem;

        cursor: pointer;

        &:hover {
          background-color: #bebebe;
        }

        .fas {
          padding-right: 0.8rem;
        }
      }

      .danger {
        border-top: 2px solid lightgray;

        color: crimson;
      }
    }

    .paw:hover .menu {
      visibility: visible;
    }
  }
}

.sidebar {
  grid-area: sidebar;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

  background-color: #ebebeb;

  .streamers_list {
    .item {
      height: 4rem;
      width: 100%;

      display: flex;
      align-items: center;

      padding: 0 1rem;

      font-size: 1.3rem;
      font-family: "Ubuntu";

      cursor: pointer;

      &:hover {
        background: #bebebe;
      }

      .avatar {
        width: 2rem;
        height: 2rem;

        border-radius: 50%;

        margin-right: 0.7rem;
      }

      .name {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        user-select: none;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        span {
          width: 80%;

          display: inline-block;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            color: dodgerblue;
          }
        }

        .online {
          height: 0.6rem;
          width: 0.6rem;

          display: inline-block;

          margin-right: 0.5rem;

          border-radius: 50%;

          background: rgba(255, 82, 82, 1);

          box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);

          animation: pulse 2s infinite;
        }

        @keyframes pulse {
          0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
          }

          70% {
            transform: scale(1);
            box-shadow: 0 0 0 0.5rem rgba(255, 82, 82, 0);
          }

          100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
          }
        }
      }
    }
  }
}

.information_wrapper {
  grid-area: informations;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1rem;

  border-top: 1px solid white;

  background-color: #ebebeb;

  .information {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 0;

    border-radius: 4px;

    background-color: #dfdfdf;

    text-align: center;

    font-size: 1.5rem;
    font-family: "Ubuntu Bold";

    .text {
      display: block;

      &::selection {
        background: orange;
      }
    }

    .socials {
      width: 60%;

      display: flex;
      align-items: center;
      justify-content: space-around;

      i {
        font-size: 1.7rem;

        cursor: pointer;

        &:hover {
          color: dodgerblue;
        }
      }
    }
  }

  .reversed_corner {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    position: absolute;

    bottom: 0;
    left: 0;

    &::before {
      content: "";
      display: block;
      width: 200%;
      height: 200%;
      position: absolute;
      border-radius: 50%;

      bottom: 0;
      left: 0;
      box-shadow: -0.75rem 0.75rem 0 0 dimgray;
    }
  }
}

.main {
  grid-area: main;
  width: 100%;
  max-width: 100%;

  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .categories {
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    span:first-child {
      border: 2px solid orange;
      background-color: orange;
      color: white;
    }

    span {
      padding: 0.8rem 1.5rem;

      margin-left: 1rem;

      border: 2px solid #cfcece;
      border-radius: 2rem;

      text-align: center;

      font-family: "Ubuntu Bold";

      background-color: #ebebeb;

      cursor: pointer;
    }
  }

  footer {
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1rem;

    margin: 2rem 0 1rem 0;

    text-align: center;

    font-size: 1.3rem;
    font-family: "Ubuntu Bold";
  }
}

.video_panel {
  min-height: 80%;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  padding: 0 1rem;

  .video_container {
    width: 100%;

    display: flex;
    flex-direction: column;

    .preview {
      width: 100%;
      height: 80%;

      position: relative;

      &:hover > .paw {
        display: block;
      }

      &:hover > img {
        filter: brightness(55%);
        transition: 0.2s filter ease-in;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .paw {
        display: none;

        position: absolute;

        top: 45%;
        left: 50%;

        color: white;
        font-size: 2.5rem;

        cursor: pointer;
      }

      .live {
        position: absolute;

        top: 3%;
        left: 2%;

        padding: 0.5rem;

        border-radius: 0.2rem;

        background-color: red;

        color: white;
        font-family: "Ubuntu Bold";
        font-weight: 500;

        cursor: pointer;
      }

      .online {
        position: absolute;

        bottom: 2%;
        right: 1.5%;

        padding: 0.3rem 0.4rem;

        border-radius: 0.2rem;

        background-color: rgba(black, 0.5);

        color: white;
        font-family: "Ubuntu";

        cursor: pointer;
      }
    }

    .description {
      height: 20%;
      width: 100%;

      display: flex;
      align-items: center;

      .avatar {
        width: 2rem;
        height: 2rem;

        border-radius: 50%;

        cursor: pointer;
      }

      .title_and_streamer_name {
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;

        margin-left: 1rem;

        .title {
          width: 100%;

          display: flex;
          justify-content: space-between;

          text-overflow: ellipsis;
          white-space: nowrap;
          text-overflow: hidden;

          span {
            display: block;

            font-size: 1.5rem;
            font-family: "Ubuntu Bold";

            cursor: pointer;
            &:hover {
              color: dodgerblue;
            }
          }
        }

        .streamer_name {
          color: #bebebe;

          font-family: "Ubuntu";
          font-weight: 500;

          cursor: pointer;
          &:hover {
            color: dodgerblue;
          }
        }

        .options {
          justify-self: flex-end;
          font-size: 1.5rem;
          margin-right: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  body {
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar main";

    grid-template-columns: 5rem calc(100% - 5rem);
  }

  .sidebar {
    height: 100%;

    width: 5rem;
  }

  .sidebar {
    overflow: hidden;

    .streamers_list {
      .item {
        align-items: center;
        justify-content: center;
      }

      .item > .name {
        display: none;

        span {
          display: none;
        }
      }

      .item > span {
        display: none;
      }
    }
  }

  .information_wrapper {
    display: none;

    width: 5rem;

    border: none;

    .information {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .video_panel {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 960px) {
  .video_panel {
    grid-template-columns: 1fr;
  }
}
